@use 'colors' as c;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

section {
	scroll-margin-top: 70px;
}

.active {
	background-color: c.$main-red;
}

.nav-link.active {
	color: #fff !important;
}

.section-heading {
	font-size: 2.7rem;
	font-weight: bold;
}

.x-btn {
	padding: 0.2em;

	i {
		transition: color 0.3s;

		&:hover {
			color: c.$main-red;
		}
	}
}

.my-card {
	transition: transform 0.3s;
	cursor: pointer;

	&:hover {
		transform: scale(0.95);
	}
}

// ---------------------------------
// Flip animation Icon

.flip-icon {
	.bi-phone-flip {
		font-size: 3rem;
	}
}

.rotate-center {
	animation: rotate-center 2s ease-in-out 3 both;
}

 @keyframes rotate-center {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  // ---------------------------------

//HERO-IMAGE
.hero-image {
	position: relative;
	width: 100%;
	height: 40vh;
	background-image: url('../../dist/img/hero-mini.jpg');
	background-size: cover;
	background-position: 0 55%;
	z-index: 0;

	.container {
		.hero-text {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: c.$white;
			z-index: 1;

			&__heading {
				font-size: 3rem;
				font-weight: bold;
			}

			&__paragraph {
				text-align: center;
				padding: 0em 1em;
				font-size: 1.5rem;

				&--special {
					font-weight: bold;
					color: c.$main-red;
				}
			}
		}
	}

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -5;
	}
}

//NAVIGATION
.navbar {
	.container {
		.navbar-brand {
			font-size: 2.4rem;
			font-weight: bold;

			.special {
				color: c.$main-red;
			}

			.bi-gem {
				font-size: 2.7rem;
			}
		}

		.navbar-toggler {
			padding: 0.5em;
			font-size: 2.5rem;
			border: none;
		}

		.collapse {
			.navbar-nav {
				display: flex;
				justify-content: center;
				margin-top: 1em;

				.nav-link {
					padding: 0.5em 1em;
					color: c.$black;
				}
			}
		}
	}
}

//HEADER
.header {
	// background-color: #000;
	background-color: #0b090a;

	.aboutus {
		.company-logo {
			// border-radius: 50%;
			border: 0.3em solid c.$main-red;
			max-height: 300px;
		}

		.btn {
			padding: 0.5em 1.5em;
			font-size: 1.5rem;
			text-transform: uppercase;
			background-color: c.$main-red;
			color: c.$white;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: c.$white;
				color: #000;
			}
		}
	}

	.carousel {
		margin: 0em 3em;
		.carousel-inner {
			.carousel-item {
				img {
					height: 500px;
					object-fit: cover;
				}
			}
		}

		.carousel-control-prev,
		.carousel-control-next {
			.carousel-control-prev-icon,
			.carousel-control-next-icon {
				position: absolute;
				padding: 1.8em;
			}

			.carousel-control-prev-icon {
				right: 110%;
			}

			.carousel-control-next-icon {
				left: 110%;
			}
		}
	}
}

.pricing {
	background-color: #161a1d;

	.card {
		height: 500px;
		// width: 350px;

		.card-img-top {
			height: 250px;
			object-fit: cover;
		}

		.btn {
			padding: 0.7em 2.5em;
			background-color: c.$main-red;
			color: c.$white;
			font-size: 1.5rem;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: c.$white;
				color: #000;
			}
		}
	}
}

.contact {
	background-color: #0b090a;

	h3 {
		color: c.$main-red;
		font-size: 2.5rem;
		font-weight: bold;
	}

	.social-media {
		.bi {
			font-size: 3rem;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: c.$main-red;
			}
		}
	}

	input,
	select,
	textarea {
		font-size: 1.5rem;

		&:focus {
			border: 2px solid c.$main-red;
		}
	}

	.btn {
		padding: 0.5em 3em;
		text-transform: uppercase;
		font-size: 1.5rem;
		background-color: c.$main-red;
		color: c.$white;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: c.$white;
			color: #000;
		}
	}
}

.footer {
	background-color: #161a1d;
	font-size: 1.3rem;

	.navbar-brand {
		margin-left: 0.5em;
		font-weight: bold;

		.bi-gem {
			font-size: 2rem;
		}

		.special {
			color: c.$main-red;
		}
	}
}

.pricing-site,
.all-in-site {
	.section-heading,
	.special {
		color: c.$main-red;
	}

	.btn {
		margin-top: 0.5em;
		padding: 0.7em 2.5em;
		font-size: 1.5rem;
		text-transform: uppercase;
		background-color: c.$main-red;
		color: c.$white;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: c.$white;
			color: #000;
		}
	}
}

.pricing-site {
	.effect {
		.card {
			height: 500px;

			.card-img-top {
				height: 70%;
				object-fit: cover;
			}

			.card-body {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		}
	}
}

.img-modal {
	padding: 0em 2em;

	.carousel-item {
		position: relative;
		border: none;

		.my-img {
			height: 400px;
			width: 90%;
			object-fit: cover;
		}
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		position: absolute;
		padding: 1.3em;
	}

	.carousel-control-prev-icon {
		right: 120%;
	}

	.carousel-control-next-icon {
		left: 120%;
	}
}

// --------------------- MEDIA ---------------------

// @media  (min-width: 550px) and (max-height: 200px) {
@media (min-height: 200px) {
	.img-modal {
		// padding: 0em 2em;

		.carousel-item {
			// position: relative;
			// border: none;

			.my-img {
				height: 100px;
				width: 90%;
				object-fit: cover;
			}
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			position: absolute;
			padding: 1.3em;
		}

		.carousel-control-prev-icon {
			right: 120%;
		}

		.carousel-control-next-icon {
			left: 120%;
		}
	}
}

@media (min-width: 320px) {
	//FOOTER
	.footer {
		font-size: 1.6rem;
	}

	.img-modal {
		.carousel-item {
			.my-img {
				height: 470px;
				width: 90%;
			}
		}
	}
}

@media (min-width: 375px) {
	.section-heading {
		font-size: 3rem;
	}

	.img-modal {
		.carousel-item {
			.my-img {
				height: 600px;
				// height: 100%;
				width: 100%;
			}
		}
	}
}

@media (min-width: 576px) {
	//HERO-IMAGE
	.hero-image {
		.container {
			.hero-text {
				&__heading {
					font-size: 3.5rem;
				}

				&__paragraph {
					font-size: 1.8rem;
				}
			}
		}
	}

	//NAVIGATION
	.navbar {
		.container {
			.navbar-brand {
				font-size: 2.7rem;

				.bi-gem {
					font-size: 3rem;
				}
			}

			.navbar-toggler {
				padding: 0.2em 0.5em;
				font-size: 3rem;
			}
		}
	}

	//HEADER
	.header {
		.aboutus {
			&__heading {
				font-size: 3rem;
			}

			.btn {
				padding: 0.5em 2em;
				font-size: 1.7rem;
			}
		}
	}

	.img-modal {
		padding: 0em 4em;

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			padding: 1.5em;
		}

		.carousel-item {
			.my-img {
				height: 700px;
				width: 95%;
			}
		}
	}
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 3.2rem;
	}

	//HERO-IMAGE
	.hero-image {
		.container {
			.hero-text {
				&__heading {
					font-size: 4rem;
				}

				&__paragraph {
					font-size: 2rem;
				}
			}
		}
	}

	//NAVIGATION
	.navbar {
		.container {
			.navbar-brand {
				font-size: 3rem;

				.bi-gem {
					font-size: 3.3rem;
				}
			}

			.navbar-toggler {
				padding: 0.2em 0.7em;
				font-size: 3.2rem;
			}
		}
	}

	//HEADER
	.header {
		.aboutus {
			&__heading {
				font-size: 3.2rem;
			}

			.btn {
				padding: 0.5em 2.5em;
				font-size: 1.8rem;
			}
		}
	}

	.img-modal {
		padding: 0em 1em;

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			padding: 1.8em;
		}

		.carousel-control-prev-icon {
			right: 130%;
		}

		.carousel-control-next-icon {
			left: 130%;
		}

		.carousel-item {
			.my-img {
				height: 750px;
				width: 100%;
			}
		}
	}
}

@media (min-width: 992px) {    
	//HERO-IMAGE
	.hero-image {
        background-image: url('../../dist/img/hero-big.jpg');

		.container {
			.hero-text {
				&__heading {
					font-size: 5rem;
				}

				&__paragraph {
					font-size: 2.2rem;
				}
			}
		}
	}

	//NAVIGATION
	.navbar {
		.container {
			.collapse {
				.navbar-nav {
					margin-top: 0em;

					.nav-link {
						padding: 1.2em 2em;
						color: c.$black;
						font-size: 1.8rem;
						font-weight: bold;
						transition: background-color 0.3s, color 0.3s;

						&:hover {
							background-color: c.$main-red;
							color: c.$white;
						}
					}
				}
			}
		}
	}

	//HEADER
	.header {
		.aboutus {
			&__heading {
				font-size: 3.3rem;
			}

			.btn {
				padding: 0.5em 3em;
			}
		}
	}
}
